@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.625rem;
    --background: 0 0% 100%;
    --foreground: 0 0% 15%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 15%;
    --primary: 0 0% 20%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 97%;
    --secondary-foreground: 0 0% 20%;
    --muted: 0 0% 97%;
    --muted-foreground: 0 0% 55%;
    --accent: 0 0% 97%;
    --accent-foreground: 0 0% 20%;
    --destructive: 0 65% 55%;
    --border: 0 0% 92%;
    --input: 0 0% 92%;
    --ring: 0 0% 70%;
    --chart-1: 41 77% 65%;
    --chart-2: 185 66% 55%;
    --chart-3: 227 46% 45%;
    --chart-4: 84 80% 70%;
    --chart-5: 70 75% 68%;
    --sidebar: 0 0% 98%;
    --sidebar-foreground: 0 0% 15%;
    --sidebar-primary: 0 0% 20%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 0 0% 97%;
    --sidebar-accent-foreground: 0 0% 20%;
    --sidebar-border: 0 0% 92%;
    --sidebar-ring: 0 0% 70%;
  }

  .dark {
    --background: 0 0% 15%;
    --foreground: 0 0% 98%;
    --card: 0 0% 20%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 27%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 92%;
    --primary-foreground: 0 0% 20%;
    --secondary: 0 0% 27%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 27%;
    --muted-foreground: 0 0% 70%;
    --accent: 0 0% 37%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 70% 55%;
    --border: 0 0% 10%;
    --input: 0 0% 15%;
    --ring: 0 0% 55%;
    --chart-1: 264 70% 50%;
    --chart-2: 162 65% 55%;
    --chart-3: 70 75% 68%;
    --chart-4: 303 65% 55%;
    --chart-5: 16 75% 60%;
    --sidebar: 0 0% 20%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 264 70% 50%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 0 0% 27%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 0 0% 10%;
    --sidebar-ring: 0 0% 43%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  font-family: 'Segoe UI', 'San Francisco', 'Roboto', 'Arial', sans-serif;
}

/* Line clamp utilities */
.line-clamp-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.line-clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
